@import "navbar";
@import "login";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');




.photo-box {
    
      z-index: 1;
      display: inline-block;
      text-align: left;
      background: whitesmoke;
      padding: 20px;
      padding-bottom: 12px;
      border-radius: 2px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
      width: 400px;
      height: auto
    }